name: Notify planner repo
on:
  workflow_run:
    workflows: ["migration-planner-agent-ui-on-push"]   # Notify only after the image was builded
    types:
      - completed

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send repository_dispatch
        run: |
          curl -X POST \
            -H "Authorization: token ${{ secrets.NOTIFY_REMOTE_CHANGES }}" \
            -H "Accept: application/vnd.github+json" \
            https://api.github.com/repos/AvielSegev/target/dispatches \
            -d '{
              "event_type": "target_repo_updated",
              "client_payload": {
                "sha": "${{ github.sha }}",
                "repo": "${{ github.repository }}"
              }
            }'

